/* USER VARIABLES SECTION */

:root {
	--accent: #04B2D9;
	--blue: #001A5A;
	--text: #fff;
	--dark: #010101;
	--alt-text: #000;
	--regular-text: 16px;
	--lineheight: 1.5;
	--userfont: Montserrat, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--fwmd: 500;
	--fwlt: 300;
	--lg: 20px;
	--md: 18px;
	--rg: 16px;
	--sm: 14px;
	--ls: 12px;
	--radius: 32px;
	--sm-radius: 12px;
	--border: 1px solid rgba(255, 255, 255, 0.16);
	--transition: 0.2s ease all;
	--index: calc(1vw + 1vh);
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
	--bs-gutter-x: .625rem;
}

.row,
.row>* {
	--bs-gutter-x: 1.25rem;
}

/* FONTS LOAD SECTION */
@font-face {
	src: url("../fonts/Montserrat-Light.woff2") format("woff2");
	font-family: "Montserrat";
	font-weight: 300;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
	font-family: "Montserrat";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
	font-family: "Montserrat";
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Phonk-Regular.woff2") format("woff2");
	font-family: "Phonk";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Phonk-Contrast.woff2") format("woff2");
	font-family: "Phonk";
	font-weight: 500;
	font-style: normal;
}


/* GENERAL CSS SETTINGS */

::placeholder {
	color: #666;
}

::selection {
	background-color: var(--accent);
	color: #fff;
}

input,
textarea {
	outline: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
	border-color: red;
}

input:required:valid,
textarea:required:valid {
	border-color: green;
}

/* Убираем стрелочки в Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Убираем стрелочки в Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	background: var(--dark);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

html,
body {
	height: 100%;
}

.app {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
}

h1,
.one,
h2,
.two,
h3,
.three,
h4,
.four,
h5,
.five {
	font-weight: 500;
	font-family: Phonk;
}

h1,
.one {
	font-size: 56px;
}

h2,
.two {
	font-size: 48px;
}

h3,
.three {
	font-size: 36px;
}

h4,
.four {
	font-size: 20px;
}

h5,
.five {
	font-size: 18px;
}

h1,
.one,
h2,
.two,
h3,
.three {
	text-transform: uppercase;
	background: linear-gradient(180deg, #0455bf -120%, #ffffff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
	text-wrap: balance;
}

.lg_text {
	font-size: var(--lg);
}

.md_text {
	font-size: var(--md);
}

.rg_text {
	font-size: var(--rg);
}

.sm_text {
	font-size: var(--sm);
}

.ls_text {
	font-size: var(--ls);
}

.fw_lt {
	font-weight: 300;
}

.fw_rg {
	font-weight: 400;
}

.fw_md {
	font-weight: 500;
}

.light {
	color: rgba(255, 255, 255, 0.64);
}

.alt_light {
	color: rgba(255, 255, 255, 0.32);
}

.light a {
	color: #fff;
}

.balance {
	text-wrap: balance;
}

.relative {
	position: relative;
}

.overflow-hidden {
	overflow: hidden;
}

section {
	position: relative;
	z-index: 1;
	padding-top: 120px;
}

.layer::before {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.layer_right::before {
	background: url('../images/layer_right.png') no-repeat right center;
	background-size: contain;
	max-width: 680px;
	right: 0;
}

.btn {
	padding: 14px 24px;
	border-radius: 30px;
	color: var(--alt-text);
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background: var(--accent);
	border: 4px solid rgb(10 128 155 / 20%);
	position: relative;
	z-index: 3;
	overflow: hidden;
}

.btn::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: -20px;
	filter: blur(30px);
	background: #fff;
	z-index: 0;
	max-width: 100px;
	height: 20px;
}

.btn.dark_btn {
	backdrop-filter: blur(8px);
	box-shadow: 0 0 24px 0 rgba(255, 255, 255, 0.08);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.08) 100%);
	border: 1px solid rgba(255, 255, 255, 0.16);
	color: #fff;
}
header{
	transition: var(--transition);
	z-index: 99;
}
header .header_wrap {
	position: absolute;
	z-index: 99;
	width: 100%;
	padding: 14px 0;
	margin-top: 16px;
	margin-bottom: 16px;
	border-radius: 50px;
	transition: 0.1s ease all;
	border: 1px solid transparent; /* обязательно прозрачная рамка */
}
header.toggled{
	position: sticky;
	top: 0;
}
header.toggled .header_wrap{
	--grad: linear-gradient(180deg, rgba(59, 59, 59, 1) 0%, rgba(16, 16, 16, 1) 100%);
	backdrop-filter: blur(80px);
	background: 
  linear-gradient(180deg, rgba(25, 25, 25, 1) 0%, rgba(7, 7, 7, 1)) padding-box, 
  var(--grad) border-box;

box-sizing: border-box;
	padding-left: 8px;
	padding-right: 8px;
	overflow: hidden;
}
header nav ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

header nav ul li{
	display: flex;
}
header nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: var(--sm);
}

header nav ul li+* {
	margin-left: 32px;
}

header .btn {
	color: #fff;
	background: rgba(255, 255, 255, 0.1);
	border: none;
	font-size: 14px;
	padding: 10px 16px;
}

header .btn::after {
	content: none;
}

header .h_widget *+* {
	margin-left: 12px;
}
.menu_button {
	position: relative;
	z-index: 99;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	--grad: linear-gradient(180deg, rgba(59, 59, 59, 1) 0%, rgba(16, 16, 16, 1) 100%);
	backdrop-filter: blur(80px);
	background: linear-gradient(180deg, rgba(25, 25, 25, 1) 0%, rgba(7, 7, 7, 1)) padding-box, var(--grad) border-box;
	box-sizing: border-box;
	border: 1px solid transparent;
	background-clip: padding-box, border-box;
}
.menu_button::before {
	top: 14px;
}
.menu_button::after {
	bottom: 14px;
}
.menu_button::before, .menu_button::after {
	content: '';
	width: 18px;
	height: 2px;
	border-radius: 20px;
	background: #fff;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	transition: var(--transition);
}
.menu_button.active::after {
	top: auto;
	bottom: 19px;
	transform: rotate(45deg);
}
.menu_button.active::before {
	top: 17px;
	bottom: auto;
	transform: rotate(-45deg);
}

.first_screen.first_screen_home {
	min-height: 880px;
	padding-top: 104px;
	overflow: hidden;
}
aside {
	transition: var(--transition);
	position: fixed;
	width: 100%;
	top: -40%;
	left: 0;
	background: var(--dark);
	padding-top: 100px;
	padding-bottom: 20px;
	min-height: 354px;
	visibility: hidden;
	opacity: 0;
	z-index: 11;
	max-height: 100%;
	overflow: auto;
	border-bottom: 1px solid rgb(255 255 255 / .24);
}
aside ul{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	padding-top: 20px;
}
aside ul li{
	width: 100%;
}
aside ul li + *{
	margin-top: 20px;
}

.calc_form form {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.08) 100%);
	position: relative;
	padding: 32px;
	border-radius: var(--radius);
	color: #fff;
	border: var(--border)
}

.calc_form .form_toggle {
	border-radius: var(--sm-radius);
	border: var(--border);
	padding: 4px;
	background: rgba(255, 255, 255, 0.08);
}

.calc_form .form_toggle div input {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: -1;
}

.calc_form .form_toggle div label {
	border: 1px solid var(--border);
	border-radius: 8px;
	padding: 8px 50px;
	text-align: center;
	color: rgba(255, 255, 255, 0.48);
	width: 100%;
	transition: var(--transition);
	cursor: pointer;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calc_form .form_toggle>div+* {
	margin-left: 8px;
}

.calc_form .form_toggle div input:checked+label {
	background: #fff;
	color: var(--blue);
}

.calc_form .form_toggle>div {
	width: 100%;
}

.calc_form .form_group_widget .value {
	padding-right: 10px;
}

.calc_form .form_group_widget .value+span {
	color: red;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;

}

.form_group+* {
	margin-top: 32px;
}

.form_group label {
	width: 100%;
	margin-bottom: 8px;
	color: #fff;
	font-size: var(--sm);
}

.form_group input {
	background: transparent;
	border-radius: var(--sm-radius);
	padding: 12px 16px;
	color: #fff;
	border: var(--border);
	width: 100%;
}

.form_group .form_group_widget {
	width: 100%;
	position: relative;
}

.form_group .form_group_widget+* {
	margin-left: 32px;
}

.form_group .calc_group input {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: -1;
}

.form_group .calc_group input:checked+label {
	border-color: var(--accent);
	color: var(--accent);
	background: rgba(4, 178, 217, 0.08);
}

.form_group .calc_group div label {
	border: var(--border);
	padding: 7px 12px;
	border-radius: 50px;
	margin-bottom: 0;
	cursor: pointer;
	transition: var(--transition);
}

.form_group .calc_group {
	gap: 8px;
}

.form_group button {
	width: 100%;
}

.line_items>div {
	padding: 20px 0;
	border-bottom: 1px solid #fff;
}

.line_items>div:first-child {
	border-top: var(--border);
}

.line_items>div:last-child {
	border-bottom: var(--border);
}

.line_items>div>span {
	min-width: 32px;
	margin-right: 14px;
}

.line_items_wrap+img {
	object-fit: cover;
	min-height: 380px;
	max-height: 380px;
	left: -20px;
	top: -30px;
	position: relative;
}

.line_items_wrap {
	width: 100%;
}

.work_card {
	overflow: hidden;
	position: relative;
}

.work_card img {
	width: 100%;
	max-width: 100%;
	object-fit: cover;
	max-height: 284px;
	height: 100%;
	border-radius: 24px;
	border: 1px solid rgba(255, 255, 255, 0.48);
	transition: var(--transition);
}

.work_card::before {
	/* content: ''; */
	position: absolute;
	left: -19px;
	top: 29px;
	border-radius: 100%;
	background: linear-gradient(180deg, rgba(4, 178, 217, 0) 0%, #04b2d9 100%);
	filter: blur(40px);
	width: 124px;
	height: 164px;
	z-index: -1;
	transition: var(--transition);
	opacity: 0;
	visibility: hidden;
}

.works_row {
	max-height: 740px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.works_row::after {
	content: '';
	background: linear-gradient(360deg, #010101 0%, rgba(1, 1, 1, 0) 100%);
	bottom: 0;
	left: 0;
	width: 100%;
	max-height: 300px;
	height: 100%;
	z-index: 1;
	position: absolute;
}

.block_card {
	backdrop-filter: blur(160px);
	background: #000;
	border-radius: 24px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	padding: 32px;
	border: 1px solid rgba(255,255,255,0.14);
	display: flex;
			flex-flow: column;
			height: 100%;
}

.block_card::before {
	content: '';
	position: absolute;
	z-index: -1;
	backdrop-filter: blur(160px);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%,rgba(255, 255, 255, 0) 100%);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.block_card img {
	object-fit: contain;
}
.block_card .icon{
	position: relative;
	z-index: 1;
	max-width: 48px;
}
.block_card .icon::after{
	content: '';
	background: #04b2d9;
	width: 40px;
	height: 40px;
	z-index: -1;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	filter: blur(37px);
}

.map {
	object-fit: contain;
	max-width: 100%;
	width: 100%;
}

.logo_grid {
	gap: 30px 90px;
	grid-template-columns: repeat(2, 1fr);
	justify-items: start;
}
.logo_grid img{
	max-width: 150px;
	width: 100%;
	object-fit: contain;
}

.form_widget{
	border-radius: 48px;
	position: relative;
	z-index: 1;
	background: url('../images/form.png') no-repeat top center;
	background-size: cover;
	padding: 80px;
	overflow: hidden;
}
.form_widget::after{
	content: '';
	z-index: -1;
	background: url('../images/grid.svg') no-repeat center center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-size: cover;
	opacity: 0.4;
}

.blockquote{
	position: relative;
	z-index: 1;
}
.blockquote::after,.blockquote::before{
	content: '';
	height: 1px;
	width: 100%;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff47 50%, rgba(255, 255, 255, 0) 100%);
	
	display: block;
}

.checklist svg{

}
.checklist .icon{
	position: relative;
	z-index: 1;
	margin-right: 16px;
}
.checklist .icon::after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #04b2d9;
filter: blur(40px);
}
.checklist > div + *{
	margin-top: 24px;
}
footer{
	padding: 60px 0;
	position: relative;
	z-index: 1;
	background: url('../images/footer.png') no-repeat right center;
	background-size: contain;
}
footer::after{
	content: '';
	background: url('../images/footer.png') no-repeat right bottom;
}
footer .light a{
	color: rgba(255, 255, 255, 0.64);
}
footer a{
	text-decoration: none;
	color: #fff;
}
footer ul{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
footer ul li + *{
	margin-top: 16px;
}
.steps_widget_item{
	position: relative;
}
.steps_widge_item + *{
	margin-top: 40px;
}
.steps_widget_item .count{
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 72px;
	min-width: 72px;
	height: 100%;
	min-height: 72px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0 24px 0 rgba(255, 255, 255, 0.08);
	--grad: linear-gradient(180deg, rgba(59, 59, 59, 1) 0%, rgba(16, 16, 16, 1) 100%);
	backdrop-filter: blur(80px);
	background: 
  linear-gradient(180deg, rgba(25, 25, 25, 1) 0%, rgba(7, 7, 7, 1)) padding-box, 
  var(--grad) border-box;

box-sizing: border-box;
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
}
.steps_widget_item + *{
	padding-top: 40px;
}
.steps_widget_item .count::after{
	content: '';
	background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.25) 100%);
	backdrop-filter: blur(32px);
}
.steps_widget_item span{
	font-weight: 500;
	font-family: Phonk;
	font-size: 34px;
	color: #141414;
	width: 100%;
	height: 100%;
}
.steps_widget_item span::before{
	content: attr(data-count);
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	z-index: -1;
	color: #fff0;
	-webkit-text-stroke: 2px #fff0;
	background: linear-gradient(-180deg, rgb(255 255 255 / .5) 0%, #fff0 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-stroke: 2px #fff0;
	-webkit-text-stroke-color: gradient;
}
.steps_widget_item::before {
	content: '';
    background: rgba(255, 255, 255, 0.16);
    width: 1px;
    position: absolute;
    left: 6%;
		top: 50px;

    z-index: -1;
		height: 100%;
}
.steps_widget_item:last-child:before{
	content:none;
}
.nav_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
	box-shadow: 0 0 24px 0 rgba(255, 255, 255, 0.08);
	--grad: linear-gradient(180deg, rgba(59, 59, 59, 1) 0%, rgba(16, 16, 16, 1) 100%);
	backdrop-filter: blur(80px);
	background: 
  linear-gradient(180deg, rgba(25, 25, 25, 1) 0%, rgba(7, 7, 7, 1)) padding-box, 
  var(--grad) border-box;

box-sizing: border-box;
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
	overflow: hidden;
}
.nav_btn::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 20px;
  background: radial-gradient(ellipse at center, rgba(255,255,255,0.6) 0%, transparent 80%);
  opacity: 0.6;
  filter: blur(12px);
  z-index: -1;
}
.nav_btn.swiper-button-disabled{
	opacity: 0.5;
	background: 
  linear-gradient(-180deg, rgba(25, 25, 25, 1) 100%, rgba(7, 7, 7, 1)) padding-box, 
  var(--grad) border-box;
}
.nav_btn.swiper-button-disabled::after{
	content: none;
}

.nav_btn::after{
	/* content: '';
	position: absolute;
	width: 57px;
	height: 57px;
	border-radius: 50%;
	margin: auto;
	left: 0;right: 0;top: 0;bottom: 0;
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.24) 100%);
	z-index: -1; */
}

.nav_btn + *{
	margin-left: 16px;
}

.testimonials{
	overflow: hidden;
}
.testimonials .swiper-slide{
	position: relative;
	overflow: hidden;
	border-radius: 24px;
	padding: 32px;
	backdrop-filter: blur(160px);
border: 1px solid rgba(255, 255, 255, 0.14);
}
.testimonials .swiper-slide::after{
	content: '';
	position: absolute;
	z-index: -1;
	backdrop-filter: blur(160px);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.testimonials .swiper-slide .review_meta img{
	width: 56px;
	height: 56px;
	object-fit: cover;
	margin-right: 16px;
	border-radius: 50%;
}
.swiper-pagination{
	position: relative;
}
.swiper-pagination .swiper-pagination-bullet{
	background: rgba(255, 255, 255, 0.16);
	transition: var(--transition);
	opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background: var(--accent);
	width: 16px;
	border-radius: 50px;
}
form select{
	width: 100%;
	background: transparent;
	color: #fff;
	background: transparent;
	border-radius: var(--sm-radius);
	padding: 12px 16px;
	color: #fff;
	border: var(--border);
	width: 100%;
	outline: none;
	cursor: pointer;
	appearance: none;         /* убираем стандартную стрелку */
  -webkit-appearance: none; /* для Safari */
  -moz-appearance: none;    /* для Firefox */
  background: url('../images/arrow.svg') no-repeat right 16px center;
  background-size: 24px;
  padding-right: 40px; /* чтобы текст не перекрывался стрелкой */
	height: 100%;
}
form select option{
	width: 100%;
	background: #000;
}